{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Título</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sint sapiente, corrupti sed molestias dicta fugiat laborum modi atque dolor nostrum cupiditate numquam iste doloribus quisquam, facilis tempore delectus cum!</p>
    </div>
    <div class="col-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sint sapiente, corrupti sed molestias dicta fugiat laborum modi atque dolor nostrum cupiditate numquam iste doloribus quisquam, facilis tempore delectus cum!</p>
    </div>
</div>

{{> footer }}